form {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0px 30px;
  p {
    font-size: $l-size;
    margin: 0;
    @media screen and (max-width: $md-screen) {
      font-size: $m-size;
    }
    &.error {
      display: block;
      font-size: $sm-size;
      color: $golden;
    }
  }
  @media screen and (max-width: $sm-screen) {
    padding: 0;
    max-width: 480px;
  }
}

.subscription-bar {
  display: flex;
  flex-direction: row !important;
  margin: 0;
  padding: 0;
  input {
    &[type="email"] {
      flex-shrink: 1;
      flex-basis: 80%;
    }
    &[type="submit"] {
      flex-grow: 1;
    }
    padding: 10px;
    @media screen and (max-width: $md-screen) {
      padding: 2px 10px;
      font-size: $sm-size;
    }
    @media screen and (max-width: $xs-screen) {
      padding: 6px;
      font-size: $s-size;
    }
  }
}
