footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: Nunito, Verdana, Geneva, Tahoma, sans-serif;
  background-color: $primary-bg-color;
  color: $light-text;
  section:first-child {
    width: calc(100% - 50px);
    @media screen and (max-width: $lg-screen) {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 25px;
    h3 {
      margin-bottom: 10px;
    }
    @media screen and (max-width: $lg-screen) {
      flex-direction: column;
      margin: 0 0 15px;
      h3 {
        margin-bottom: 5px;
      }
      & > div:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @media screen and (max-width: $md-screen) {
      margin-bottom: 0px;
      padding: 25px 0;
    }

    h3 {
      color: $light-text;
      font-size: $m-size;
      @media screen and (min-width: $md-screen) {
        font-size: $ml-size;
      }
      @media screen and (min-width: $sm-screen) {
        font-size: $ms-size;
      }
    }
    div {
      display: flex;
      & > span,
      & > a {
        font-size: $sm-size;
        @media screen and (min-width: $md-screen) {
          font-size: $m-size;
        }
      }
      flex-direction: column;

      @media screen and (min-width: $md-screen) {
        padding: 25px 20px 0;
      }
      @media screen and (min-width: $lg-screen) {
        padding: 10px 20px;
      }
    }
  }
  a {
    color: $light-text;
    text-decoration: none;
    padding-left: 4px;
    text-shadow: 1px 1px 1px $primary-bg-color;
    transition: text-shadow 0.3s;
    &:hover {
      text-shadow: 0px 0px 10px $golden;
    }
  }

  .facebook-logo {
    display: flex;
    align-items: center;
    gap: 0 5px;
    img {
      position: relative;
      top: -1px;
      height: 15px;
      width: 15px;
      border-radius: 3px;
      margin-bottom: 0;
      @media screen and (max-width: $sm-screen) {
        top: -2px;
      }
    }
  }

  .copyright {
    border-top: 1px solid #fff;
    width: 100%;
    font-size: $sm-size;
    margin: 0;
    padding: 1rem 0;
    a:hover {
      color: #fff;
      text-shadow: 0px 0px 5px #fff;
    }
    @media screen and (max-width: $sm-screen) {
      font-size: $s-size;
    }
  }
}
