.menu {
  color: $light-text;
  margin-bottom: 50px;
  h2 {
    color: $light-text;
    font-family: "Tangerine";
    font-size: $xxxl-size;
    @media screen and (max-width: $sm-screen) {
      font-size: $xxl-size;
      text-align: center;
      margin-bottom: 0;
    }
  }
  .menu-headers {
    display: flex;
    list-style-type: none;
    margin-left: 0;
    justify-content: space-between;

    @media screen and (min-width: $sm-screen) {
      justify-content: flex-start;
      .menu-header:nth-child(n + 2) {
        margin-left: 20px;
      }
    }
    .menu-header {
      cursor: pointer;
      font-size: $sm-size;
      padding: 0;
      margin-bottom: 1rem;
      line-height: 20px;
      &.active {
        color: $golden;
      }
      @media screen and (min-width: $sm-screen) {
        font-size: $m-size;
      }
      @media screen and (min-width: $lg-screen) {
        font-size: $ml-size;
        line-height: $ms-size;
      }
    }
  }
  .menu-items-grid {
    list-style-type: none;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 0;
    @media screen and (min-width: 640px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
    }
    .menu-item {
      font-family: "Fredericka the Great";
      position: relative;
      margin-bottom: 0;

      h3 {
        color: $light-text;
        display: flex;
        align-items: center;
        margin-bottom: 0;
        text-transform: uppercase;
        font-family: "Fredericka the Great";
      }

      .price {
        font-family: "Fredericka the Great";
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $primary-bg-color;
        color: $golden;
        text-shadow: 1px 1px 1px black;
        box-shadow: 1px 1px 1px black;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        transform: rotate(5deg);
      }

      & .image-wrapper {
        width: 280px;
        height: 280px;
        overflow: hidden;
      }
    }
  }
}
